---
import Text from "@/components/fundations/typography/Text.astro";
import { Image } from "astro:assets";
import { formatDistanceToNowStrict } from "date-fns";
import type { Template } from "@/data/entries.json";
import updates from "@/data/updates.json";
interface Props {
  entries: Template[];
}
const { entries } = Astro.props; // Make sure entries is correctly passed and used
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/**/*.{jpeg,jpg,png,gif}"
);
const modules = import.meta.glob("@/components/oxbow/**/*.astro", {
  eager: true,
});
const componentBySection = Object.keys(modules).reduce((acc, file) => {
  const [section, subsection] = file
    .replace(/.*\/src\/components\/oxbow\//, "")
    .split("/");
  const path = ["/playground", section, subsection].filter(Boolean).join("/");
  return {
    ...acc,
    [path]: acc[path] ? acc[path] + 1 : 1,
  };
}, {});
// Add quantity to each entry
const entriesWithQuantity = entries
  .map((entry: Template) => {
    const imagePath = `/src/images/${entry.image}`;
    if (!images[imagePath])
      throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
      );
    return {
      ...entry,
      image: images[imagePath],
      quantity: componentBySection[entry.link] || 0,
    };
  })
  // Filter out entries with quantity 0
  .filter((entry) => entry.quantity > 0)
  // Sort alphabetically by component name
  .sort((a, b) => a.name.localeCompare(b.name));
const updatedSubsections = Object.keys(updates).reduce((acc, path) => {
  const [section, subsection] = path.split("/");
  acc[subsection] = acc[subsection]
    ? acc[subsection] > updates[path]
      ? acc[subsection]
      : updates[path]
    : updates[path];
  return acc;
}, {});
const SEVEN_DAYS_AGO = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);
---

<ul class="grid grid-cols-1 lg:grid-cols-4 gap-y-12 gap-x-2 group">
  {
    entriesWithQuantity.map((template) => {
      const subsection = template.link.split("/").pop();
      const updated = updatedSubsections[subsection];
      const updatedAt = new Date(updated * 1000);
      const isUpdatedLastWeek = updatedAt > SEVEN_DAYS_AGO;
      return (
        <li class="relative py-2  group-hover:opacity-30 hover:opacity-100 peer hover:peer-hover:opacity-30 duration-300">
          <a
            title={template.name}
            href={template.link}
            class="absolute inset-0 z-1"
          />
          <div>
            <Image
              class="object-cover object-top    aspect-16/10 w-full outline outline-base-200 dark:outline-base-800"
              alt={template.name}
              src={template.image()}
            />
            <div class="flex flex-col  mt-2">
              <Text
                tag="p"
                variant="textXS"
                class="relative font-medium text-black   dark:text-white"
              >
                {template.name}
              </Text>
              <Text
                tag="p"
                variant="textXS"
                class="relative flex items-center gap-1  2xl:text-sm text-base-500"
              >
                {template.quantity} Components
              </Text>
              {/* 
          
             <Text
                tag="p"
                variant="textXXS"
                class="relative flex items-center ml-auto gap-1 text-base-500 group-hover:text-black  dark:text-base-400 dark:group-hover:text-white font-medium"
              >
                Updated
                {formatDistanceToNowStrict(updatedAt, {
                  unit: "day",
                  roundingMethod: "ceil",
                })}
                {" ago"}
              </Text> */}
            </div>
          </div>
        </li>
      );
    })
  }
</ul>
