---
import Text from "@/components/fundations/typography/Text.astro";
import { Image } from "astro:assets";
import type { Template } from "@/data/entries.json";
interface Props {
  entries: Template[];
}
const { entries } = Astro.props; // Make sure entries is correctly passed and used
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/**/*.{jpeg,jpg,png,gif}"
);
const modules = import.meta.glob("@/components/oxbow/**/*.astro", {
  eager: true,
});
const componentBySection = Object.keys(modules).reduce((acc, file) => {
  const [section, subsection] = file
    .replace(/.*\/src\/components\/oxbow\//, "")
    .split("/");
  const path = ["/playground", section, subsection].filter(Boolean).join("/");
  return {
    ...acc,
    [path]: acc[path] ? acc[path] + 1 : 1,
  };
}, {});
// Add quantity to each entry
const entriesWithQuantity = entries
  .map((entry: Template) => {
    const imagePath = `/src/images/${entry.image}`;
    if (!images[imagePath])
      throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
      );
    return {
      ...entry,
      image: images[imagePath],
      quantity: componentBySection[entry.link] || 0,
    };
  })
  // Filter out entries with quantity 0
  .filter((entry) => entry.quantity > 0)
  // Sort alphabetically by component name
  .sort((a, b) => a.name.localeCompare(b.name));
---

<ul class="grid grid-cols-1 lg:grid-cols-4 gap-y-12 gap-x-4 mt-8 group">
  {
    entriesWithQuantity.map((template) => {
      return (
        <li class="relative py-2.5  group">
          <a
            title={template.name}
            href={template.link}
            class="absolute inset-0 z-1"
          />
          <div>
            <Image
              class="object-cover object-top  rounded-lg  aspect-16/10 w-full outline outline-base-200 dark:outline-base-800 shadow"
              
              alt={template.name}
              src={template.image()}
            />
            <div class="flex flex-col  mt-2.5">
              <Text
                tag="p"
                variant="textXS"
                class="relative font-medium text-black   dark:text-white"
              >
                {template.name}
              </Text>
              <Text
                tag="p"
                variant="textXS"
                class="relative flex items-center gap-1  2xl:text-sm text-base-500"
              >
                {template.quantity} Components
              </Text>
            </div>
          </div>
        </li>
      );
    })
  }
</ul>
