---
// Fundations
import Text from "@/components/fundations/typography/Text.astro";
import Button from "@/components/fundations/buttons/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import AlpineTailwind from "@/components/global/AlpineTailwind.astro";
interface Props {
  title: string;
  subtitle?: string; // Make subtitle optional
  highlightText?: string;
  showAlpineTailwind?: boolean; // Optional prop to show AlpineTailwind
  showThemeNavigator?: boolean; // Optional prop to show ThemeNavigator
  textCentered?: boolean; // Optional prop to center text
  additionalText?: string; // Optional prop for additional text
  additionalTextClasses?: string; // Optional classes for additional text
  slot?: any;
  showButton?: boolean; // New optional prop
  is404?: boolean;
}
const {
  title,
  subtitle,
  highlightText,
  showAlpineTailwind = true,
  textCentered = false,
  additionalText,
  additionalTextClasses = "",
  showButton = false, // Default to false if not specified
  is404 = false,
} = Astro.props;
---

<section
  x-data="{ currentPath: window.location.pathname }"
  :class="currentPath === '/' ? ' ' : ''"
>
  <Wrapper
    variant="standard"
    class="relative pt-12 pb-8 overflow-hidden lg:pt-24"
  >
    <div class="relative flex flex-col h-full itmes-end">
      <div class="relative mt-auto">
        <div
          class={`flex flex-col relative  ${textCentered ? "justify-center" : ""}`}
        >
          {
            showAlpineTailwind && ( // Conditionally render AlpineTailwind
              <div class={`flex mb-8 ${textCentered ? "justify-center" : ""}`}>
                <AlpineTailwind />
              </div>
            )
          }
          <Text
            tag="h1"
            variant="textXL"
            class={`text-base-900 dark:text-white font-semibold  tracking-tight   lg:text-balance   max-w-2xl ${textCentered ? "text-center text-balance max-w-3xl  mx-auto" : ""}`}
          >
            {title}
          </Text>
          <div
            class={`flex flex-col text-balance ${textCentered ? "text-center   mx-auto " : ""}`}
          >
            {
              subtitle && (
                <Text
                  tag="p"
                  variant="textBase"
                  class={`text-zinc-600  font-medium dark:text-base-400  mt-2 max-w-xl ${textCentered ? "text-center text-balance max-w-2xl mx-auto" : ""}`}
                >
                  {subtitle}
                </Text>
              )
            }
            {
              highlightText && (
                <Text tag="span" variant="textBase">
                  {highlightText}
                </Text>
              )
            }
            {
              additionalText && (
                <Text
                  tag="p"
                  variant="textSM"
                  class={`${additionalTextClasses}`}
                >
                  {additionalText}
                </Text>
              )
            }
            {
              showButton && ( // Conditionally render the button
                <div
                  class={` mt-8 flex gap-2 flex-wrap  ${textCentered ? "justify-center" : ""}`}
                >
                  <Button
                    data-fast-goal="clicked-on-browse-components"
                    href="/components"
                    size="xs"
                    variant="oxbowAccent"
                    id="access-navigation-cta"
                    class="w-fit"
                  >
                    Browse components
                  </Button>
                </div>
              )
            }
            {
              is404 && (
                <div
                  class={`flex gap-2 flex-wrap mt-8 ${textCentered ? "justify-center" : ""}`}
                >
                  <Button
                    size="xs"
                    variant="oxbowAccent"
                    href="/components"
                    id="404-components"
                  >
                    Browse components
                  </Button>
                  <Button size="xs" variant="oxbowMuted" href="/" id="404-home">
                    Go back home
                  </Button>
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </Wrapper>
</section>
